.conteudo-section {
    height: 100vh;
    width: 100%;
    gap: 20px;
    font-family: Red Hat Display;
    display: flex;
    justify-content: space-around;


}

.caixa h1{
    font-size: 40px;
}


.caixa p{
    font-size: 20px;
    font-weight: 500;
}

/* TEMPORÁRIO */
.conteudo-section{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* ==============================   SECTIONS    ============================== */
#conteudo-tecnologia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-tecnologia{
    background-color: var(--color-cream);
}

#section-tecnologia p{
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 0;
    text-wrap: wrap;
    color: var(--color-black);
}

#section-objetivos{
    background-color: var(--color-dark-blue);

}



/* ==============================   IMAGENS    ============================== */
.images-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Bacteria{
    width: 22vw;
}

#sensor{
    width: 9vw;
}

