/* ==============================   RAIZ    ============================== */

.caixa {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 100px 0 0 0;
}

.caixa h2{
    font-size: 5rem;
    color: var(--color-blue);
}


.caixa p{
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-cream);
    text-wrap: wrap;
    text-align: center;
}

/* TEMPORÁRIO */
.conteudo-section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* ==============================   PROBLEMAS    ============================== */

#section-problemas h3{
    color: var(--color-cream);
}

#section-problemas p{
    margin: 10px;
}

#section-problemas h1{
    color: var(--color-blue);
    font-size: 3rem;
    font-weight: 500;
}

/* ==============================   TECNOLOGIA    ============================== */

#conteudo-tecnologia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-tecnologia{
    background-color: var(--color-blue-marine);
}

#section-tecnologia p{
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 0;
    text-wrap: wrap;
    color: var(--color-black);
}

/* ==============================   OBJETIVOS    ============================== */

#section-objetivos{
    background-color: var(--color-dark-blue);

}

/* ==============================   PUBLICOALVO    ============================== */

#section-publicoalvo{
    background-image: url(/);

}

/* ==============================   IMAGENS    ============================== */

.images-tecnologia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Bacteria{
    width: 30vw;
}

#img-sensor{
    width: 9vw;
}

#img-info-microplastico{
    width: 20vw;
}

