/* ==============================   HEADER    ============================== */


header {
    height: 100px;
    position: fixed;
    width: 100%;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.header-box a {
    text-decoration: none;
    color: var(--color-blue);
    font-weight: 600;
    font-size: 1.6rem;
    transition: color 600ms;

}

.header-box a:hover {
    color: var(--color-cream);
}

.caixa-links {
    margin: 0 auto;
    background-color: transparent;
    padding: 7px 25px;
    border: 1.8px solid var(--color-blue);
    border-radius: 40px;
    text-transform: uppercase;
}

.balao-link.active {
    color: var(--color-cream) !important;
}

#rolagem {
    position: fixed;
    right: 50px;
}

#links-header {
    display: flex;
    gap: 40px;
    list-style: none;
}

#links-header li:nth-child(2) {
    border-right: 1px solid var(--color-blue);
    margin-right: -20px;
    margin-left: -20px;
}

#links-header a {
    text-decoration: none;
    color: var(--color-blue);
    font-weight: 630;
    font-size: 1.4rem;
    transition: color 600ms;
}

#links-header a:hover {
    color: var(--color-cream);
}

#play, #stop{
    display: none;
    width: 30px;
    margin-right: 10px;
}

#contato{
    width: 30px;
}

/* ==============================   POPUP    ============================== */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-cream);
    box-shadow: 0px 0px 2px var(--color-gray);
    border-radius: 8px;
}

.popup-content{

    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    width: 500px;
    height: 400px;

}

.popup-content h2{
    color: var(--color-blue);
    font-size: 4rem;
    margin-bottom: 20px;
}

#popup-close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    color: var(--color-blue);
    text-decoration: none;
}

#popup-email, #popup-mensagem{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    font-size: 1.4rem;
}

#popup-email:focus, #popup-mensagem:focus {
    outline: 0.5px solid var(--color-blue);
}

#popup-enviar:active {
    background-color: var(--color-almost-blue);
    outline: 0.5px solid var(--color-blue);
}

#popup-mensagem {
    height: 100px;
    resize: none;
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.4rem;
}

#popup-enviar{
    width: 100%;
    height: 50px;
    background-color: var(--color-blue);
    color: var(--color-cream);
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ==============================   RODAPÉ    ============================== */


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    background-color: transparent;
    height: 2vh;
    color: var(--color-cream);
    font-size: 1.5rem;
    padding-left: 10px;
}

/* ==============================   MENU    ============================== */

#menu {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    margin: 0 auto;
}

.conteudo-menu {

    text-shadow: 0 0 1px var(--color-black);

    strong {
        font-weight: 500;
        color: var(--color-blue);
        font-size: 15rem;
    }

    h1 {
        font-weight: 400;
        color: var(--color-cream);
        font-size: 18rem;
    }

    p {
        font-weight: 300;
        color: var(--color-grey);
        font-size: 3rem;
        text-align: center;
        margin-top: -50px;
    }

}

/* ==============================   BREAKPOINT    ============================== */

@media screen and (max-width: 480px) {
    header {
        height: 80px;
    }

    .header-box {
        padding: 0 20px;
    }

    .caixa-links {
        padding: 5px 15px;
        font-size: 0.8rem;
    }

    #links-header {
        gap: 20px;
    }

    #links-header li:nth-child(2) {
        margin-right: -10px;
        margin-left: -10px;
    }

    #links-header a {
        font-size: 1rem;
    }

    .conteudo-menu strong {
        font-size: 10rem;
    }

    .conteudo-menu h1 {
        font-size: 12rem;
    }

    .conteudo-menu p {
        font-size: 2rem;
        margin-top: -30px;
    }
}