/* ==============================   HEADER    ============================== */


header{
    height: 100px;
    position: fixed;
    width: 100%;

    text-transform: uppercase;
}

.header-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.caixa-links{
    background-color: transparent;
    padding: 7px 25px;
    border: 1.8px solid var(--color-blue);
    border-radius: 40px;
}

#links-header{
    display: flex;
    gap: 40px;
    list-style: none;
}

#links-header li:nth-child(2) {
    border-right: 1px solid var(--color-blue);
    margin-right: -20px;
    margin-left: -20px;
}

#links-header a{
    text-decoration: none;
    color: var(--color-blue);
    font-weight: 630;
    font-size: 1.4rem;
    transition: color 600ms;
}


#links-header a:hover{
    color: var(--color-cream);
}

/* ==============================   MENU    ============================== */

#menu{
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    margin: 0 auto;
}

.conteudo-menu{

    text-shadow: 0 0 1px var(--color-black);

    strong{
        font-weight: 500;
        color: var(--color-blue);
        font-size: 15rem;
    }

    h1{
        font-weight: 400;
        color: var(--color-cream);
        font-size: 18rem;
    }

    p{
        font-weight: 300;
        color: var(--color-grey);
        font-size: 3rem;
        text-align: center;
        margin-top: -50px;
    }

}

/* ==============================   BREAKPOINT    ============================== */

@media screen and (max-width: 480px) {
    header {
        height: 80px;
    }

    .header-box {
        padding: 0 20px;
    }

    .caixa-links {
        padding: 5px 15px;
        font-size: 0.8rem;
    }

    #links-header {
        gap: 20px;
    }

    #links-header li:nth-child(2) {
        margin-right: -10px;
        margin-left: -10px;
    }

    #links-header a {
        font-size: 1rem;
    }

    .conteudo-menu strong {
        font-size: 10rem;
    }

    .conteudo-menu h1 {
        font-size: 12rem;
    }

    .conteudo-menu p {
        font-size: 2rem;
        margin-top: -30px;
    }
}

